# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
.venv/
venv/
env/

# Distribution / packaging
*.egg-info/
dist/
build/

# Jupyter
.ipynb_checkpoints/

# LaTeX build artifacts
*.aux
*.log
*.out
*.synctex.gz
*.fls
*.fdb_latexmk

# hidden files
.cl*/

# Generated output
circuit.png
*.pdf
